@import "{{ site.theme }}";

header {
  display: none;
}

.container-lg {
    max-width: none;
    margin-right: none;
    margin-left: none;
}

.px-3 {
    padding-right: none !important;
    padding-left: none !important;
}

.my-5 {
    margin-top: none !important;
    margin-bottom: none !important;
}
